/* Main */
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px;
  color: rgba(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: center; /* Center align the title */
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}

.aCard {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center align content */
  padding: 20px 15px;
  border-radius: 5px;
  text-align: center; /* Center align text */
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > .card_icon {
  font-size: 25px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr; /* Display cards in a single column on smaller screens */
  }
}
